<% style=null %>
<input type="text" name="name" id="name">
<button type="submit" id="submit">Submit</button>
<hr>
<div id="data">

</div>
<hr>
<script>
    document.getElementById("submit").addEventListener("click", () => {
        let data = {
            name: document.getElementById("name").value
        }

        fetch("/", {
            headers: {
                "Content-type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(data),
        })
            .then(res => {
                return res.json()
            })
            .then(data => {
                data.forEach(obj => {
                    document.getElementById("data").innerHTML += `
                                                <h1 id='fetchname'>${obj.name}</h1>
                                                <h2 id="fetchage">${obj.age}</h2>
                    `;
                });
            })
            .catch(err => {
                console.log(err)
            })
    })
</script>