<% style = "/style/news.css" %>
<div id="headlines">
    <div class="all-cards-headlines">
        <%  news.articles.forEach(data => { %>
        <div class="card-headline">
            <img src="<%- data.urlToImage %> ">
            <h3> <%- data.title %> </h3>
            <p><i> <%- data.author %> </i></p>
        </div>
        <% }) %>
    </div>
</div>